extends static

block content
  main.auth-container
    .auth-form
      h2 Register
      if error
        p.error= error
      form(action="/register" method="POST")
        .form-group
          label(for="username") Username
          input#username(type="text" name="username" required)
        .form-group
          label(for="email") Email
          input#email(type="email" name="email" required)
        .form-group
          label(for="password") Password
          input#password(type="password" name="password" required minlength="6")
        .form-group
          label(for="confirmPassword") Confirm Password
          input#confirmPassword(type="password" name="confirmPassword" required minlength="6")
        button.btn.primary(type="submit") Register
